.NavbarContainer {
    display: flex;
    justify-content: space-between;
    padding: 1rem 10%;
    position: sticky;
    top: 0;
    z-index: 99;
}

.blur {
    backdrop-filter: blur(100px);
}

.NavbarContainer h3 {
    font-family: 'Qwitcher Grypen', cursive;
    font-size: 3.2rem;
    font-weight: 800;
    color: #fff;
    transition: transform 0.3s ease;
}

.NavbarContainer h3:hover {
    animation: rotate 2s linear infinite;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


.navList {
    display: flex;
    list-style-type: none;
    align-items: center;
    gap: 1rem;
}

.navList li {
    font-family: 'Space Mono', monospace;
    font-weight: 600;
    font-size: 1.2rem;
    color: #ffff;
}