@import url('https://fonts.googleapis.com/css2?family=Kanit:ital@1&family=Play&family=Qwitcher+Grypen:wght@700&family=Space+Mono:ital@1&display=swap');
* {
  padding: 0;
  margin: 0;
  cursor: pointer;
}